Django
djangorestframework
djoser
djangorestframework-simplejwt
psycopg2-binary
drf-spectacular
Pillow
flake8
python-dotenv
django-auditlog
django-cors-headers
django-debug-toolbar
xhtml2pdf
django-filter
factory_boy
django-extensions
tablib
openpyxl
django-simple-history