Django~=4.2.2
djangorestframework~=3.14.0
djoser
djangorestframework-simplejwt
psycopg2-binary
drf-spectacular
Pillow
flake8
python-dotenv~=1.0.0
django-auditlog
django-cors-headers
django-debug-toolbar~=4.1.0
xhtml2pdf~=0.2.11
django-filter~=23.2
factory_boy
django-extensions
tablib~=3.5.0
openpyxl~=3.1.2
django-simple-history~=3.3.0
requests~=2.31.0
reportlab~=3.6.13
requests