<!DOCTYPE html>
<html>
<head>
    <title>Account Created</title>
</head>
<body style="font-family: Arial, sans-serif; margin:0; padding:0; background-color: #f8f9fa;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
                <h3 style="color: white;">Your Account Activation</h3>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #153643; font-size: 24px;">
                            <b>Dear, {{ user_name }}!</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0 30px 0; color: #153643; line-height: 2; font-size: 16px;">
							We regret to inform you that your account activation request on our platform has been declined by our administration.
                            <br>
                            Declined By: {{ admin_name }}
							<br>
							Time of Review: {{ activation_time }}
							<br/>
							Please contact our support team if you have any questions or if you believe this was a mistake.
			            </td>
                    </tr>
                    <tr>
                        <td>
                            Best Regards,
                            <br>
                            <b>Your Team</b>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ee4c50" style="padding: 30px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #ffffff; font-size: 14px;" width="75%">
                            &reg; Bima360
                            <br/>

                        </td>
                        <td align="right" width="25%">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                    <td>
                                        <a href="https://www.linkedin.com/company/bimatech-technology">
                                            <img src="https://www.svgrepo.com/show/475661/linkedin-color.svg" alt="linkedin" width="32" height="32" style="display: block;" border="0" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
